*{
    margin: 0%;
    padding: 0%;
}
img{
    width: 120px;
    height: 38vh;
    margin-top: 0;
    object-fit: cover;
    border-radius: 10px;
}

.main-carousel{
    margin-left: 5%;
    width: 90%;
    height: 100%;
    margin-top: 5%;
}

.carrusel-cell{
    margin-left: 90%;
    margin-right: 90%;
}

welcome-carousel{
    margin-left: 50%;
    margin-right: 50%;
}

* { box-sizing: border-box; }

@media (max-width: 400px) {
    img{
        margin-left: 20%;
        height: 30vh;
        margin-top: 0;
    }

    .flickity-button{
        display: none;
    }



}
.flickity-button {
    position: absolute;
    background: hsl(0 0% 100% / 75%);
    border: none;
    color: rgb(51, 0, 146);
}


.flickity-page-dots {
    display: none;
}
  
.flickity-button:hover {
    background: white;
    cursor: pointer;
}
  
.flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgb(51, 0, 146);
}
