*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100vw;
    height: 100vh;
}
section{
    width: 100vw;
    height: 100vh;
    background-color: #514BF2;
    display: flex;
    align-items: center;
    justify-self: center;
}
.Right{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 10%;
}
.Left{
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    margin-left: 10%;
}
img{
    width: 40vw;
    height: 43vw;;
}
h2{
    font-family: 'Asul', sans-serif;
    color:honeydew;
    margin-bottom: 5%;
}
p{
    font-family: 'Asul', sans-serif;
    color:honeydew;
    margin-bottom: 15%;
}
button{
    font-family: 'Asul', sans-serif;
    color:honeydew;
    background-color: transparent;
    border: 3px solid honeydew;
    border-radius: 5px;
    box-shadow: 0 0 8px honeydew;
    width: 64%;
    height: 7vh;
}