* { 
    padding:0%;
    margin: 0%;
}
  
body { 
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 100vw;
    height: 95vh;
    object-fit: cover;
    object-position:center;
    position: relative;
}
.carousel-cell {
    width: 100%;
    height: 100%;
}
.flickity-button {
    display: none;
}
.carousel.is-fullscreen .carousel-cell {
    height: 100%;
}
.text{
    width: 35vw;
    position: absolute;
    top: 20%;
    left: 8%;
    font-family: 'Asul', sans-serif;
    color:honeydew;
}
button{
    font-family: 'Asul', sans-serif;
    color:honeydew;
    background-color: transparent;
    border: 3px solid #514BF2;
    border-radius: 5px;
    box-shadow: 0 0 8px #514bf2;
    width: 64%;
    height: 7vh;
    margin-top: 15%;
    cursor: pointer;
}
.flickity-page-dots {
    bottom: 0px;
}
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
    background: white;
}